<h1>Listing operation_items</h1>

<table>
  <thead>
    <tr>
      <th>Budget category</th>
      <th>Article</th>
      <th>Operation</th>
      <th>Title</th>
      <th>Valor de amount_type</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @operation_items.each do |operation_item| %>
      <tr>
        <td><%= operation_item.budget_category_id %></td>
        <td><%= operation_item.article_id %></td>
        <td><%= operation_item.operation_id %></td>
        <td><%= operation_item.title %></td>
        <td><%= operation_item.amount_type.nil? ? 'Nil' : operation_item.amount_type %></td>
        <td><%= operation_item.amount_with_format %></td>
        <td><%= link_to 'Show', operation_item %></td>
        <td><%= link_to 'Edit', edit_operation_item_path(operation_item) %></td>
        <td><%= link_to 'Destroy', operation_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operation item', new_operation_item_path %>
