<p id="notice"><%= notice %></p>

<p>
  <strong>Locality:</strong>
  <%= @address.locality_id %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @address.number %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @address.floor %>
</p>

<p>
  <strong>Department:</strong>
  <%= @address.department %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @address.neighborhood %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
