<!DOCTYPE html>
<html>
<head>
  <title>Finances</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2><%= flash[:notice] = 'Esta es la aplicacion de finanzas'%></h2>	
<%= yield %>
<br>

<%= link_to 'Countries', countries_path %>
<%= link_to 'Provinces', provinces_path %>
<%= link_to 'Localities', localities_path %>
<%= link_to 'Stores', stores_path %>
<%= link_to 'Articles', articles_path %>
<%= link_to 'Brands', brands_path %>
<%= link_to 'Categories', categories_path %>
<%= link_to 'Companies', companies_path %>
<%= link_to 'Operations', operations_path %>
<%= link_to 'Budgets', budgets_path %>
<%= link_to 'Users', users_path %>



</body>
</html>
